.padded-multiline
  line-height: 2
  width: 300px
  margin: 20px auto
  span
    background-color: #cc00cc
    color: white
    display: inline
    padding: 0.45rem
    box-decoration-break: clone
    -webkit-box-decoration-break: clone